<div class="container">
    <h2 class="capitalize">
        {{pokemon().name}}
        <mat-icon *ngIf="pokemon().name" class="close-btn" (click)="close()">close</mat-icon>
        <mat-spinner *ngIf="pokemon().name && !pokemon().details" class="spinner" diameter="20"></mat-spinner>
        <mat-chip-listbox *ngIf="pokemon().details">
            <mat-chip-option *ngFor="let t of pokemon().details!.types">{{t.type.name}}</mat-chip-option>
        </mat-chip-listbox>
    </h2>

    <div *ngIf="!pokemon().name">
        <mat-icon>arrow_back</mat-icon>Please select a Pokemon from the list on the left.
    </div>

    <div *ngIf="pokemon().details">
        
        <div class="img-div">
            <img class="pokemon-img" *ngIf="showFront" [src]="pokemon()!.details!.sprites!.front_default">
            <img class="pokemon-img" *ngIf="!showFront" [src]="pokemon()!.details!.sprites!.back_default">
            <br>
            <span>
                <mat-icon (click)="rotate()" title="Rotate">360</mat-icon>
            </span>
        </div>
        

        <br><br>
        <h3>Abilities <mat-spinner *ngIf="loading" class="spinner" diameter="20"></mat-spinner></h3>
        <table *ngIf="abilities().length > 0" mat-table [dataSource]="abilities()">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td class="abilities-name-cell" mat-cell *matCellDef="let element"><b class="capitalize">{{element?.name}}</b></td>
            </ng-container>

            <!-- Effect Column -->
            <ng-container matColumnDef="effect_entries">
                <th mat-header-cell *matHeaderCellDef> Effect </th>
                <td mat-cell class="abilities-effect-cell" *matCellDef="let element"> {{element.effect_entries[1]?.effect??""}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <br><br>
        <h3>Evolution Chain</h3>
        <ol>
            <li *ngFor="let evo of evolutions()" (click)="select(evo)" class="capitalize" [class.current]="evo?.name == pokemon()!.name">{{evo?.name}}</li>
        </ol>
        

    </div>
</div>