.container {
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.abilities-name-cell {
    width: 200px;
}

.abilities-effect-cell {
    padding: 4px 0px;
}

.spinner {
    margin: 0 8px;
    display: inline;
}

.pokemon-img {
    width: 96px;
    min-width: 96px;
    height: 96px;
    min-height: 96px;
}

ol {
    
    li.current {
        font-weight: bold;
    }

    li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.close-btn:hover {
    cursor: pointer;
}